body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin-top: 80px;
  padding: 0;
  background-image:
    url(/image/background/hinh-nen-sieu-xe-dep-42.jpg),
    url(/image/background/sieu-xe-dat-nhat-the-gioi-13-768x432.png);
  background-size: contain;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

header {
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: space-between; /* chia header thành 2 phần: trái và phải */
  align-items: center;
  padding: 20px 40px;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s ease-in-out;
}

.menu a:hover {
  transform: translateY(-3px);
  background-color: white;
  color: #111;
}

.t h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;
}

.t p {
  position: absolute;
  top: 70px;
  left: 30px;
  color: crimson;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.car-card {
  background-color: #333;
  border-radius: 10px;
  width: 300px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}
.car-card:hover {
  transform: scale(1.05);
}
.car-card img {
  width: 100%;
  border-radius: 10px;
}

.lam {
  background-image: url(/image/Lamborghini-Autentica-Roadster.webp);
  background-size: cover; /* phủ toàn bộ khung */
  background-position: center; /* căn giữa hình */
  background-repeat: no-repeat; /* không lặp lại hình */
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.car-card a {
  color: white; /* đổi màu chữ thành trắng */
  text-decoration: none; /* bỏ gạch chân */
}

.lam img {
  height: 300px;
}

.mer {
  background-image: url(/image/oli0gbpo.avif);
  background-size: cover; /* phủ toàn bộ khung */
  background-position: center; /* căn giữa hình */
  background-repeat: no-repeat; /* không lặp lại hình */
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.mer img {
  height: 300px;
}

.por {
  background-image: url(/image/2023-Porsche-Taycan-GTS-001.jpg);
  background-size: cover; /* phủ toàn bộ khung */
  background-position: center; /* căn giữa hình */
  background-repeat: no-repeat; /* không lặp lại hình */
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.por img {
  height: 300px;
}

.fer {
  background-image: url(/image/Insider-4-SF90-Spider-1.jpg);
  background-size: cover; /* phủ toàn bộ khung */
  background-position: center; /* căn giữa hình */
  background-repeat: no-repeat; /* không lặp lại hình */
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.fer img {
  height: 300px;
}

.bug {
  background-image: url(/image/4-bugatti-w16-mistral-world-record.avif);
  background-size: cover; /* phủ toàn bộ khung */
  background-position: center; /* căn giữa hình */
  background-repeat: no-repeat; /* không lặp lại hình */
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.bug img {
  height: 300px;
}

footer {
  background-color: #222;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
